@media screen and (max-width: 900px) {
  iframe {
    display: none;
  }
}
body:before {top: 0;left: 0;right: 0;bottom: 0;opacity: 0.7;z-index: -1;content: "";position: fixed;background: url(https://fzly.icey.cf/) center/cover;}
code{background: rgba(255, 255, 255, 0.5)!important;}
#name{background: rgba(255, 255, 255, 0.5)!important;}
#them{background: rgba(255, 255, 255, 0.5)!important;}
#get{background: rgba(255, 255, 255, 0.5)!important;}
